<mat-list>
  <mat-list-item *ngFor="let item of data">
    {{item.name}}
    人力{{item.human}}
    彈藥{{item.ammunition}}
    口糧{{item.ration}}
    零件{{item.component}}
    <img *ngIf="item.IOP_Contract" src="../assets/images/IOP_Contract.png" alt="人形製造契約" width="32" height="32">
    <img *ngIf="item.EQUIP_Contract" src="../assets/images/EQUIP_Contract.png" alt="裝備製造契約" width="32" height="32">
    <img *ngIf="item.Quick_Develop" src="../assets/images/Quick_Develop.png" alt="快速製造契約" width="32" height="32">
    <img *ngIf="item.Quick_Reinforce" src="../assets/images/Quick_Reinforce.png" alt="快速修復契約" width="32" height="32">
    <img *ngIf="item.Furniture_Coin" src="../assets/images/Furniture_Coin.png" alt="採購幣" width="32" height="32">
  </mat-list-item>
</mat-list>
