<mat-grid-list [cols]="gridCols" rowHeight="200" gutterSize="12">
  <mat-grid-tile *ngFor="let ep of eps; let i = index">
    <mat-selection-list dense>
      <mat-list-option [selected]="selectedList[i]" (click)="toggleList(i)">
        {{ ep.name }}
      </mat-list-option>
      <mat-list-option *ngFor="let logisticId of ep.logistics; let j = index" [selected]="selectedOption[i * 4 + j]"
        (click)="toggleOption(i, j)">
        {{ getLogisticById(logisticId).code }}
        {{ getLogisticById(logisticId).time | time }}
      </mat-list-option>
    </mat-selection-list>
  </mat-grid-tile>
</mat-grid-list>
