<h3>後勤計算機</h3>

<div class="inline-list">
  <div class="inline-tile" *ngFor="let ep of eps; let i = index">
    <mat-selection-list dense>
      <mat-list-option [selected]="selectedList[i]" (click)="toggleList(i)">
        {{ ep.name }}
      </mat-list-option>
      <mat-list-option *ngFor="let logisticId of ep.logistics; let j = index" [selected]="selectedOption[i * 4 + j]"
        (click)="toggleOption(i, j)">
        <div class="logistic">
          <span class="logistic-code">{{ getLogisticById(logisticId).code }}</span>
          <span class="logistic-time">{{ getLogisticById(logisticId).time | time }}</span>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>

<h3>資源權重</h3>

<mat-form-field>
  <mat-label>人力</mat-label>
  <img matPrefix class="label-img" src="./assets/images/Mp.png" />
  <input matInput [(ngModel)]="options.mp" class="input-number" type="number" />
  <span class="step-btn step-btn-increase" (click)="stepUp('mp')">↑</span>
  <span class="step-btn step-btn-decrease" (click)="stepDown('mp')">↓</span>
</mat-form-field>

<mat-form-field>
  <mat-label>彈藥</mat-label>
  <img matPrefix class="label-img" src="./assets/images/Ammo.png" />
  <input matInput [(ngModel)]="options.ammo" class="input-number" type="number" />
  <span class="step-btn step-btn-increase" (click)="stepUp('ammo')">↑</span>
  <span class="step-btn step-btn-decrease" (click)="stepDown('ammo')">↓</span>
</mat-form-field>

<mat-form-field>
  <mat-label>口糧</mat-label>
  <img matPrefix class="label-img" src="./assets/images/Mre.png" />
  <input matInput [(ngModel)]="options.mre" class="input-number" type="number" />
  <span class="step-btn step-btn-increase" (click)="stepUp('mre')">↑</span>
  <span class="step-btn step-btn-decrease" (click)="stepDown('mre')">↓</span>
</mat-form-field>

<mat-form-field>
  <mat-label>零件</mat-label>
  <img matPrefix class="label-img" src="./assets/images/Part.png" />
  <input matInput [(ngModel)]="options.part" class="input-number" type="number" />
  <span class="step-btn step-btn-increase" (click)="stepUp('part')">↑</span>
  <span class="step-btn step-btn-decrease" (click)="stepDown('part')">↓</span>
</mat-form-field>

<mat-form-field>
  <mat-label>人形製造契約</mat-label>
  <img matPrefix class="label-img" src="./assets/images/IOP_Contract.png" />
  <input matInput [(ngModel)]="options.iop_contract" class="input-number" type="number" />
  <span class="step-btn step-btn-increase" (click)="stepUp('iop_contract')">↑</span>
  <span class="step-btn step-btn-decrease" (click)="stepDown('iop_contract')">↓</span>
</mat-form-field>

<mat-form-field>
  <mat-label>裝備製造契約</mat-label>
  <img matPrefix class="label-img" src="./assets/images/EQUIP_Contract.png" />
  <input matInput [(ngModel)]="options.equip_contract" class="input-number" type="number" />
  <span class="step-btn step-btn-increase" (click)="stepUp('equip_contract')">↑</span>
  <span class="step-btn step-btn-decrease" (click)="stepDown('equip_contract')">↓</span>
</mat-form-field>

<mat-form-field>
  <mat-label>快速製造契約</mat-label>
  <img matPrefix class="label-img" src="./assets/images/Quick_Develop.png" />
  <input matInput [(ngModel)]="options.quick_develop" class="input-number" type="number" />
  <span class="step-btn step-btn-increase" (click)="stepUp('quick_develop')">↑</span>
  <span class="step-btn step-btn-decrease" (click)="stepDown('quick_develop')">↓</span>
</mat-form-field>

<mat-form-field>
  <mat-label>快速修復契約</mat-label>
  <img matPrefix class="label-img" src="./assets/images/Quick_Reinforce.png" />
  <input matInput [(ngModel)]="options.quick_reinforce" class="input-number" type="number" />
  <span class="step-btn step-btn-increase" (click)="stepUp('quick_reinforce')">↑</span>
  <span class="step-btn step-btn-decrease" (click)="stepDown('quick_reinforce')">↓</span>
</mat-form-field>

<mat-form-field>
  <mat-label>採購幣</mat-label>
  <img matPrefix class="label-img" src="./assets/images/Furniture_Coin.png" />
  <input matInput [(ngModel)]="options.furniture_coin" class="input-number" type="number" />
  <span class="step-btn step-btn-increase" (click)="stepUp('furniture_coin')">↑</span>
  <span class="step-btn step-btn-decrease" (click)="stepDown('furniture_coin')">↓</span>
</mat-form-field>

<h3>間隔時間</h3>

<mat-form-field>
  <mat-label>小時</mat-label>
  <input matInput [(ngModel)]="options.time.hr" type="number" min="0" />
</mat-form-field>

<mat-form-field>
  <mat-label>分鐘</mat-label>
  <input matInput [(ngModel)]="options.time.min" type="number" max="59" min="0" />
</mat-form-field>

<mat-form-field>
  <mat-label>梯隊數</mat-label>
  <mat-select [(value)]="options.team_limit">
    <mat-option [value]="1">1</mat-option>
    <mat-option [value]="2">2</mat-option>
    <mat-option [value]="3">3</mat-option>
    <mat-option [value]="4" selected="selected">4</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>組合數</mat-label>
  <mat-select [(value)]="options.combination_limit">
    <mat-option [value]="10" selected="selected">10</mat-option>
    <mat-option [value]="20">20</mat-option>
    <mat-option [value]="30">30</mat-option>
    <mat-option [value]="40">40</mat-option>
  </mat-select>
</mat-form-field>

<button mat-flat-button color="primary" class="panel-btn" (click)="calculate()">計算</button>
<button mat-flat-button color="accent" class="panel-btn" (click)="reset()">重置</button>
