.inline-list {
  display: flex;
  flex-wrap: wrap;
  background-color: #E8EAF6;
}

.inline-tile {
  flex: 0 1 160px;
  margin: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.logistic {
  display: flex;
  justify-content: space-around;
}

.logistic .logistic-code {
  font-weight: bold;
}

.logistic .logistic-time {
  color: #999;
}

.mat-list-text {
  flex-direction: row;
}

.mat-form-field {
  margin-right: 12px;
}

.label-img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.step-btn {
  position: absolute;
  top: 50%;
  margin-top: -9px;
  width: 18px;
  height: 18px;
  font: bold 18px/1 monospace;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.step-btn:hover {
  color: #3f51b5;
}

.step-btn-increase {
  right: 0;
}

.step-btn-decrease {
  right: 20px;
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.input-number {
  -moz-appearance: textfield;
}

.panel-btn {
  margin-right: 8px;
}
