<h3>資源權重</h3>

<mat-form-field>
  <mat-label>人力</mat-label>
  <img matPrefix [ngStyle]="{'margin-right': '12px'}" src="./assets/images/Mp.png" width="24" height="24" />
  <input matInput [(ngModel)]="options.Mp" type="number" />
</mat-form-field>

<mat-form-field>
  <mat-label>彈藥</mat-label>
  <img matPrefix [ngStyle]="{'margin-right': '12px'}" src="./assets/images/Ammo.png" width="24" height="24" />
  <input matInput [(ngModel)]="options.Ammo" type="number" />
</mat-form-field>

<mat-form-field>
  <mat-label>口糧</mat-label>
  <img matPrefix [ngStyle]="{'margin-right': '12px'}" src="./assets/images/Mre.png" width="24" height="24" />
  <input matInput [(ngModel)]="options.Mre" type="number" />
</mat-form-field>

<mat-form-field>
  <mat-label>零件</mat-label>
  <img matPrefix [ngStyle]="{'margin-right': '12px'}" src="./assets/images/Part.png" width="24" height="24" />
  <input matInput [(ngModel)]="options.Part" type="number" />
</mat-form-field>

<mat-form-field>
  <mat-label>人形製造契約</mat-label>
  <img matPrefix [ngStyle]="{'margin-right': '12px'}" src="./assets/images/IOP_Contract.png" width="24" height="24" />
  <input matInput [(ngModel)]="options.IOP_Contract" type="number" />
</mat-form-field>

<mat-form-field>
  <mat-label>裝備製造契約</mat-label>
  <img matPrefix [ngStyle]="{'margin-right': '12px'}" src="./assets/images/EQUIP_Contract.png" width="24" height="24" />
  <input matInput [(ngModel)]="options.EQUIP_Contract" type="number" />
</mat-form-field>

<mat-form-field>
  <mat-label>快速製造契約</mat-label>
  <img matPrefix [ngStyle]="{'margin-right': '12px'}" src="./assets/images/Quick_Develop.png" width="24" height="24" />
  <input matInput [(ngModel)]="options.Quick_Develop" type="number" />
</mat-form-field>

<mat-form-field>
  <mat-label>快速修復契約</mat-label>
  <img matPrefix [ngStyle]="{'margin-right': '12px'}" src="./assets/images/Quick_Reinforce.png" width="24" height="24" />
  <input matInput [(ngModel)]="options.Quick_Reinforce" type="number" />
</mat-form-field>

<mat-form-field>
  <mat-label>採購幣</mat-label>
  <img matPrefix [ngStyle]="{'margin-right': '12px'}" src="./assets/images/Furniture_Coin.png" width="24" height="24" />
  <input matInput [(ngModel)]="options.Furniture_Coin" type="number" />
</mat-form-field>

<h3>間隔時間</h3>

<mat-form-field>
  <mat-label>小時</mat-label>
  <input matInput [(ngModel)]="options.time.hr" type="number" min="0" />
</mat-form-field>

<mat-form-field>
  <mat-label>分鐘</mat-label>
  <input matInput [(ngModel)]="options.time.min" type="number" max="59" min="0" />
</mat-form-field>

<button mat-flat-button color="primary" (click)="calculate()">計算</button>
